<!doctype html>
<html lang="en-CA">
<head>
{% block head %}
<link href="https://fonts.googleapis.com/css?family=K2D|Open+Sans" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/auldtheme.css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
 <title>{% block title %}{{SITENAME}}{% endblock %}</title>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
</head>
<body>
  <aside>
    <div>
      <a href="{{SITEURL}}">
        <img src="/theme/img/profile.png" width=150 hight=150>
      </a>
      <h1 class="sitename">

        {{SITENAME}}

      </h1>
      <nav>
        <ul class="navlist">
          <li><a href="{{ SITEURL }}">Home</a></li>

          {% for title, link in MENUITEMS %}
              <li><a href="{{ link }}"><i class="far fa-file-alt"></i>{{ title }}</a></li>
          {% endfor %}
          {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in pages %}
              <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
          {% endif %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </nav>

    </div>
    <div class="social">
    <a href="http://github.com/matthewauld"?><i class="fab fa-github fa-2x"></i></a>&nbsp
    <a href="https://twitter.com/MatthewAuld1ca"?><i class="fab fa-twitter fa-2x"></i></a>&nbsp
    <a href="https://www.linkedin.com/in/matthewauld/"?><i class="fab fa-linkedin-in fa-2x"></i></a>

  </div>
  </aside>
  <main>
    <article>

    {% block header%}
        <hr>
        {% block pagetitle %}
        {% endblock %}
        <hr class="after">
    {% endblock %}

    {% block body %}
    {% endblock %}
  </article>
  </main>
</body>
</html>
