body,html{
  width:100%;
  height:100
}

h1,h2,h3,h4,h5,h6{
    font-weight:300;
    line-height:1.1;
    font-family: 'K2D', sans-serif;
}
h1{
    font-size:2.4em
}

h2{
    font-size:2em
}
h3{
    font-size:1.6em
}
h4{
    font-size:1.36em
}
h5{
    font-size:1.2em
}
h6{
    font-size:1.1em
}
body{
    margin:0;
    padding:0;
    color:#242121;
    font-family: 'Open Sans', sans-serif;
    font-size:1.02em;
    line-height:1.2em
}
img{
    max-width:100%;
    border-radius: 50%;
}
aside{
    background-color:#073642;
    text-align:center
}
aside,aside a{
    color:#fff
}
a{
  text-decoration:none;
  font-weight: none;
  color:#242121;
}


aside a{
  text-decoration:none;
  font-weight: none;
  font-family: 'K2D', sans-serif;
}

a:hover {
  font-weight: bold
}
.sitename a:hover {
  font-weight: none;
}

main a{
  color:#dc322f
}


nav ul{
  margin: 0;
  padding-left: 0px;
  padding-bottom: 10px

}

main{
    margin: 2% 8% 2% 8%;
}


form, .file {
  border-radius: 12px;
  border-style: solid;
  border-width: thin;
  display: inline-block;
  padding: 10px;
  margin: 0px;
}
input, select, textarea, button {
  width: 100%;
  font-family:inherit;
  font-weight: 100;
  letter-spacing: 0.15px;
  font-size: 1em;
  outline:none;
  display:inline-block;
  box-sizing: border-box;

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;

  border-style: solid;
  border-width: thin;
  border-radius: 12px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
hr{
  visibility: hidden;
}

ul{
  list-style: none;
  padding-left:0;
  margin:0;
}
article ul {
  list-style: initial;
}
.social{
  padding-top: 0em;
  margin-top: 0em;
  padding-bottom: 1em;
}
.entry-title {
  display: inline-block;
}

.published {
  float: right;
}

@media screen and (min-width:768px){
    hr {
      visibility: visible;
        display: block;
        overflow: hidden;
        border-style: solid;
        border-width: 1px;
        height: 1px;
        background-color: black
    }
    hr.after {
      background-color: black;
      height: 0.5px;
      border-width: 0.25px;
    }
    aside{
        width:25%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        overflow-y:auto
    }
    aside div{
        padding:36px 18px
    }
    aside div nav ul li{
        padding:0!important;
        display:block
    }
    aside div ul.social{
        padding-top:32px
    }
    main{
        width:70%;
        height:100%;
        position:absolute;
        top:0;
        left:25%

    }
    main article.single{
        min-height:80%
    }
    main article ul.list li{
        padding:3px
    }

}
